{
  "presets": [
    "es2015",
    "es2016",
    "react"
  ],

  "plugins": [
    [
      "module-alias",
      [
        { "src": "./src",  "expose": "src"  },
      ]
    ],
    "transform-class-properties",
    "transform-export-extensions",
    "transform-react-display-name"
  ],

  "env": {
    "development": {
      "plugins": [
        "typecheck",
        ["react-transform", {
            "transforms": [{
                "transform": "react-transform-catch-errors",
                "imports": ["react", "redbox-react"]
              }
            ]
        }]
      ]
    }
  }
}
